---
import Navbar from "../components/navbar.astro";
---

<body class="w-screen h-screen overflow-hidden">
  <Navbar />
  <div
    class="flex items-center justify-center flex-col space-y-4 w-full h-full"
  >
    <h1 class="text-9xl">4o4</h1>
    <h2>Page not found</h2>
    <p class="text-xs">
      Sorry, the page you are looking for could not be found.
    </p>
    <button class="bg-red-600 px-4 py-2 text-white">
      <a href="/">Go back home</a>
    </button>
  </div>
</body>
