---
import logo from "../assets/logo.png";
---

<footer class="bg-black py-16 mt-16 px-16 flex items-center space-x-8">
  <img src={logo.src} alt="logo" class="w-24 h-24" />
  <h1 class="text-4xl text-white">E-LUCIDUM</h1>
</footer>
